/* HEADER */
    header{
        background-image: url(../img/background-header.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 0 !important;
        }
/* NAV-MENU */
    #logo img{
        width: 50%;
        margin-top: 5%;
        margin-left: 5%;
    }
    #menu {
        font-size: 1.5rem;
    }
    #menu a{
        color: #58585b;
        text-decoration: none;
    }
    #menu a:hover{
        color: #07c9c6;
    } 
/* HEADER-TITLE */
     #header-title{
        width: 50%;
        margin: 10% 0 0 10%;
        padding: 3% 0 0 3%;
        background-color: rgba(255, 255, 255, 0.5);
    }

    #pixel img{
        width: 100%;
    }
